@media only screen AND (max-width:736px){
    .mobileHidden {
        display:none;
    }
    #page_listing{
        margin-bottom:32px;
    }
    #user_menu{
    }
}
.show_comments{
    display:none;
}
html{
    height:100%;
}
body{
    min-height:100%;
    margin:0px;
    position:relative;
}
footer{
    width:100%;
    position:absolute;
    bottom:0;
    height:32px;
    text-align:center;
}
footer div a {
    color:black;
    margin:8px;
}
    
h1, h2{
    text-align:center;
}
h4{
    margin-top:32px;
}
nav{
    padding:16px;
    margin-bottom:16px;
    font-size:1.25em;
}
table{
    margin-top:16px;
    text-align:center;
}
td{
    padding-left:8px;
    padding-right:8px;
}
#achievement_filters div label{
    margin:8px;
    padding:8px;
    border:1px black dotted;
}
#achievement_filters div.complete{
    background-color:black;
    color:white;
    border:1px white dotted;
}
#achievement_filters div.inactive{
    background-color:lightgrey;
    font-style:italic;
}
#achievements_link{
    text-align:center;
    font-size:1.5em;
}
#app_nav{
    border-bottom:1px lightgrey dotted;
    overflow:visible;
}
#center-footer{
    clear:both;
    text-align:center;
/*
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
*/
}
#change_password{
    text-align:right;
}
#content{
    padding-bottom:32px;
}
#create_proof_url{
    color:lightgrey;
}
#discussion_container{
    margin-top:48px;
}
#follow_menu label{
    margin-right:16px;
}
#follow_menu label.active{
    text-decoration:underline;
}
#guest_warning{
    padding:16px;
}
#header_info{
    margin-bottom:32px;
    font-style:italic;
}
#homepage{
    text-align:center;
}
#homepage h4{
    margin-bottom:2px;
}
#page_listing{
    display:inline;
    margin-right:96px;
}
    
#proof_statement{
    margin:8px;
    margin-bottom:4px;
}
#public_message p{
    text-align:center;
    font-size:1.25em;
}
#proof_status{
    font-style:italic;
    margin:8px;
    margin-bottom:16px;
    margin-top:0px;
}
#message_receiver{
    color:grey;
    text-decoration:none;
    margin-left:4px;
}
#user_menu{
    float:right;
}
td.achievement{
    border:1px black dashed;
}
td.achievement a div{
    padding:16px;
    display:block;
    height:100%;
    width:100%;
}
form.achievement{
    margin-bottom:24px;
    text-align:right;
    display:inline-block;
}
.achievement-unlocked-container{
    width:35%;
    margin:auto;
    margin-bottom:32px;
    background-color:grey;
    border:1px black solid;
    border-radius:64px;
    padding:8px;
    
}
.achievement-unlocked-text-container{
    display:inline;
    float:right;
}

.achievement-unlocked-text-container .title{
    margin-right:64px;
    font-size:2em;
}
.achievement-unlocked-text-container .description{ /*58 characters max*/
    margin-top:8px;
    font-style:italic;
}
.achievement-unlocked-icon-container{
    background-color:black;
    border-radius:50%;
    width:75px;
    height:75px;
    position:relative;
}
.achievement-unlocked-icon-container img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    margin-left:20%;
}
.achievement_proof{
    padding:16px;
    border:1px grey dashed;
    width:75%;
    margin-top:16px;
}
.achievement-user{
    float:left;
    clear:right;
}
a.approved:not(.complete){
    color:black;
    font-weight:bold;
}
a.approved.complete{
    color:white;
}
div.brand{
    float:left;
    font-size:1.5em;
}
a.brand{
    font-family:"Courier New";
    color:grey;
    text-decoration:none;
}
.center{
    text-align:center;
}
.center-margin{
    margin:auto;
}
.clear{
    clear:both;
}
.change_read_status{
    color:blue;
}
.comment, .message{
    width:400px;
}
div.comment{
    clear:both;
    margin-left:32px;
    background-color:lightgrey;
    width:75%;
    padding:4px;
    padding-bottom:2px;
    border:1px solid black;
    margin-top:16px;
}
form.comment{
    margin:48px;
}
textarea.comment, textarea.message{
    height:100px;
    
}
label.complete, tr.complete_achievement, span.complete_achievement{
    background-color:black;
    border-top:1px white solid; 
    color:white;
}
span.complete_achievement{
    padding:8px;
}
.denied{
    color:red;
}
.bold{
    font-weight:bold;
}
.fail{
    color:red;
}
.fb-share-button{
}
div.feedback{
    margin-right:8px;   
}
.filter{
    margin-left:8px;
}
.filter-tooltip{
    font-weight:bold;
}
.filter-tooltip:hover{
    text-decoration:underline;
    cursor:pointer;
}
.followed{
    text-decoration:underline;
}
.hidden{
    display:none;
}
.inactive{
    color:black;
}
span.inactive{
    padding:8px;
}
.inactive_achievement, span.inactive, label.inactive{
     background-color:lightgrey;
}
.inline{
    display:inline-block;
}
.last_achievement{
    padding:16px;
    border:1px black dashed;
}
.left {
    float:left;
}
.margin-bottom{
    margin-bottom:8px;

}
.margin-left{
    margin-left:16px;
}
.margin-left2{
    margin-left:32px;
}
.margin-right{
    margin-right:16px;
}
.margin-top{
    margin-top:16px;
}
nav.menu{
    font-size:1.25em;
    padding:8px;
    padding-left:16px;
    border:1px grey dotted;
    clear:both;
    margin-top:16px;
}
div.message{
    margin:8px;
    margin-bottom:4px;
    margin-top:4px;
}
form.message{
    text-align:center;
    margin:auto;
    margin-top:64px;
}
input.message{
    float:right;
}

.message_container{
    background-color:#eeeeee;
    border:1px black solid;
    margin:16px;
    padding:4px;
    padding-bottom:0px;
}
.no_link{
    text-decoration:none;
}
.no_margin{
    margin:0px;
}
.no_vote{
    color:red;
}
.notification p{
    margin:0px;
}
.padding-bottom{
    padding-bottom:4px;
}
.padding-left{
    padding-left:16px;
}
.pending{
    color:grey;
}
.proof_votes{
    margin-top:16px;
}
.proof_vote_comments{
}
.show_new_comment{
    margin-left:8px;
}
a.unread{
    color:coral;
}
div.unread{
    border:2px black solid;
    background-color:lightgrey;
}
.right{
    float:right;
}
.text_button { 
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}   
div.timeline {
    margin-bottom:8px;
}
.timeline_comment{
    color:#a5a5a5;
    font-style:italic;
}
.timeline_container{
    border:1px lightgrey dotted;
    width:75%;
    margin:auto;
    margin-bottom:16px;
    padding:8px;
}
.twitter-share-button{
    vertical-align:middle;
}    
.unproven{
    background-color:lightgrey;
}
.user_profile_achievements a.achievement_link{
    color:black;
}
a.vote_available{
    color:black;
}  
span.vote_available{
    background-color:lightgrey;
    border-radius:25px;
    padding:4px;
    font-weight:bold; 
}
.vote_status{ 
    clear:both;
    font-style:italic;
    
}
.yes_vote, .pass{
    color:green;
}

