h1{
    text-align:center;
}
.approved{
    color:black;
}
.complete{
    font-weight:bold;
    text-decoration:underline;
}
.denied{
    color:red;
}
.filter{
    margin-left:8px;
}
.no_vote{
    color:red;
}

.pending{
    color:grey;
}

.vote_status{ 
    margin-left:8px;
    float:left;
    font-weight:bold;
    font-style:italic;
}

.yes_vote{
    color:green;
}

