
html{
    height:100%;
}
body{
    min-height:100%;
    position:relative;
}
footer{
    width:100%;
    position:absolute;
    bottom:0;
    height:-32px;
}
#content{
    padding-bottom:32px;
}
#create-achievement{
    width:90%;
    font-size:1.5em;
}
#user-votes, #user-votes th{
    text-align:center;
}
.achievement-proof-comments{
    border:1px solid lightgrey;
}
.achievement-unlocked-container{
    background-color:lightgrey;
    border:1px black solid;
    border-radius:64px;
    padding:8px;
}
.achievement-unlocked-text-container .title{
    font-size:2em;
}
.achievement-unlocked-text-container .description{ /*58 characters max*/
    font-style:italic;
}
.fail{
    color:red;
}
.inline{
    display:inline;
}
.margin-left{
    margin-left:14px;
}
.pass{
color:green;
}
.unread-user-link{
    color:white;
}
